<!-- DROPDOWNS  -->

<div id="dd-news" class="dd-container">
	<div class="dd-content">
		<div class="dd-list-content">
			<ul>
				<!--
				<li class="clearfix new-news">
					<div class="dd-news-item">
					<a href="#" title="username"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /></a><a href="#">Johnlongname Doelonglastname</a> sent you a friend request!
					</div>
					<div class="dd-news-friend-request">
						<a href="#" class="dd-news-friend-no" title="Deny Friendship Request">Deny</a>
						<a href="#" class="dd-news-friend-yes" title="Confirm Friendship Request">Confirm</a>
					</div>
				</li>
				-->

			</ul>
		</div>
	</div>
</div>
<!-- EOF NEWS DD -->


<div id="dd-friends" class="dd-container">
	<div class="dd-content">
	
		<!--  dd-lanes-title  -->
		<div class="dd-friends-types">
			<ul class="smallButtonBar">
				<li><a id="dd-friends-main" href="#" class="smallButtonActive"><%= i18n("Friends", "tab for showing friends in friends dropdown") %></a></li>
				<li><a id="dd-friends-pending" href="#"><%= i18n("Friend Requests Sent", "tab for showing sent friend requests in the friends dropdown") %></a></li>
			</ul>
		</div>
	

		<div class="dd-list-content dd-friends-main-pane">
			<ul>
				<!--
				<li class="clearfix">
					<a href="#" title="view dashboard"><div class="dd-list-item"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="name-friends-DD">firstnamelongname lastnamelongname</span> <span class="user-name-friends-DD">(usernamelongusername)</span></div>
					<a href="#" class="dd-friends-remove" title="remove friend">X</a>
					</a>
				</li>
					-->
			</ul>
		</div>
		
		
		<div class="dd-list-content dd-friends-pending-pane">
			<ul>
			<li>HELLO!</li>
			</ul>
		</div>



		
		
<% if current_user %>
		<div id="add-friends-dd">
			<span><%= i18n("Edit friends from <a href=\'%s\' title=\'Go to your profile\'>your profile</a>", "link with title attribute. text flow is: edit friends from your profile. shown in the friends dropdown to make user aware of how they can manage friends. text in title attribute must be translated", ["/#{current_user.username}"] ) %> </span> <a href="#" class="sml-btn-orange float-right addFriends" style="margin-top:-1px;"><%= i18n("Add Friends", "Text on button to start finding or adding friends") %></a>
		</div>
<% end %>
	</div>
</div>
<!-- EOF FRIENDS -->


<div id="dd-lanes" class="dd-container">
	<div class="dd-content">
	
<div class="dd-lanes-title">
	<ul class="smallButtonBar"><li id="dd-your-lanes-btn"><a href="#" class="smallButtonActive"><%= i18n("Your Lanes", "tab for showing own lanes in lanes dropdown") %></a></li><li id="dd-fav-lanes-btn"><a href="#"><%= i18n("Followed Lanes", "tab for showing followed lanes in lane dropdown") %></a></li></ul>	
	</div>
	
		<div class="dd-list-content" id="dd-your-lanes">
			<ul>
				<!--
				<li class="clearfix">
					<a href="#" title="view lane"><div class="dd-list-item"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="lane-name-DD">Family Vacation to Spain</span></div>
						<a href="#" class="dd-lanes-remove" title="delete lane">X</a>
						<a href="#" class="dd-lanes-edit" title="edit lane">X</a>
					</a>
				</li>
				-->			
			</ul>
		</div>

		
<div class="dd-list-content display-none" id="dd-fav-lanes">
			<ul>
			
				<!--
<li class="clearfix">
					<a href="#" title="view lane"><div class="dd-list-item"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="lane-name-DD">Family Vacation to Spain</span></div>
						<a href="#" class="dd-lanes-remove">X</a>
					</a>
				</li>
-->
							
			</ul>
		</div>

<% if current_user %>		
		<div id="edit-lanes-dd">
			<span><%= i18n("Edit lanes from <a href=\"%s\" title=\"Go to your profile\">your profile</a>", "link with title attribute. text flow is: edit friends from your profile. shown in the friends dropdown to make user aware of how they can manage lanes. text in title attribute must be translated", ["/#{current_user.username}"] ) %>
		</div>
<% end %>
	</div>
</div>
<!-- EOF LANES DROPDOWN -->