
<div id="dd-search">



	<div id="search-types">
		<ul class="smallButtonBar">
			<% if @lane %><li><a href="#" id="dd-search-memos" class="smallButtonActive"><%= i18n("Memos", "Search category tab in search dropdown") %></a></li><% end %>
			<li><a href="#" id="dd-search-lanes" <% unless @lane %> class="smallButtonActive" <% end %> ><%= i18n("Lanes", "Search category tab in search dropdown") %></a></li>
			<li><a href="#" id="dd-search-users"><%= i18n("Users", "Search category tab in search dropdown") %></a></li>
		</ul>
	</div>
	
	<div class="search-filter search-filter-lanes">
		<label id="search-lanes-filter-friends">
			<input type="checkbox" value="friends"><%= i18n("You &amp; Friends only", "checkbox for only searching lanes from you or your friends" ) %>
		</label>
	</div>

	
	<!-- FOR beyond h-bird 0.1
	<div id="search-options">
	<label><input type="checkbox" checked="checked">Only this lane</label>
	<label><input type="checkbox">All of Memolane</label>
	</div>
	-->

	
	<div id="search-memos" class="search-results">
		<div class='search-results-scrollable'>
		<ul>
			<!--
			<li class="clearfix"><a href="#" title="view memo">
				<div class="search-service-icon"></div>
				<img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" class="search-user-avatar" title="view dashboard" />
				<div class="search-memos-txt">This is some text from a search for memos</div>
			</a></li>
			<li class="clearfix"><a href="#" title="view memo">
				<div class="search-service-icon"></div>
				<img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" class="search-user-avatar" title="view dashboard" />
				<div class="search-memos-txt">This is some text from a search for memosThis is some text from a search for memosThis is some text from a search for memosThis is some text from a search for memos</div>
			</a></li>
			<li class="clearfix"><a href="#" title="view memo">
				<div class="search-service-icon"></div>
				<img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" class="search-user-avatar" title="view dashboard" />
				<div class="search-memos-txt">This is some text from a search for memos</div>
			</a></li>
			-->
		</ul>
	</div>
	<div class='search-results-footer'>
		<span class='search-results-footer-loader' id='search-memos-loader'><%= i18n("Loading...", "loading text for search results") %></span>
		<span class='search-results-footer-hits' id='search-memos-hits'></span>
	</div>
	</div>
	

	
	<div id="search-lanes" class="search-results">
		
		<div class='search-results-scrollable'>
		<ul>
		<!--
			<li>
				<a href="#" title="view lane"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-lanes-result">Family Vacation to Spain Family Vacation to Spain Family Vacation to Spain<span class="search-lanes-rel">(contributor)</span></span>
				</a>
			</li>
			<li>
				<a href="#" title="view lane"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-lanes-result">Family Vacation to Spain</span>
				</a>
			</li>
			<li>
				<a href="#" title="view lane"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-lanes-result">Family Vacation to Spain Family Vacation to Spain Family Vacation to Spain Family Vacation to Spain Family Vacation to Spain Family Vacation to Spain<span class="search-lanes-rel">(owner)</span></span>
				</a>
			</li>
			-->
		</ul>
		</div>
	<div class='search-results-footer'>
		<span class='search-results-footer-loader' id='search-lanes-loader'><%= i18n("Loading...", "loading text for search results") %></span>
		<span class='search-results-footer-hits' id='search-lanes-hits'></span>
	</div>
	</div>
	
	
	<div id="search-users" class="search-results">
		<div class='search-results-scrollable'>
		<ul>
			<!--
			<li>
				<a href="#" title="view dashboard">		
				<img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-users-result">Long Long Username Long Very Long<span class="search-users-username">(username)</span></span>
					<a href="" class="request-friendship" title="request friendship">Request Friendship</a>
				</a>
			</li>
			<li>
				<a href="#" title="view dashboard"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-users-result">John Doe<span class="search-users-username">(username)</span></span>
				<a href="" class="request-friendship" title="request friendship">Request Friendship</a>

				</a>
			</li>
			<li>
				<a href="#" title="view dashboard"><img src="/img/defaults/avatar-20.gif" alt="topBarAvatar" width="20" height="20" /><span class="search-users-result">John Doe<span class="search-users-username">(username)</span></span>
				<a href="" class="request-friendship" title="request friendship">Request Friendship</a>

				</a>
			</li>
			-->
		</ul>
	</div>
	<div class='search-results-footer'>
		<span class='search-results-footer-loader' id='search-users-loader'><%= i18n("Loading...", "loading text for search results") %></span>
		<span class='search-results-footer-hits' id='search-users-hits'></span>
	</div>
	</div>
	
	
	
</div>