	<div id="top-bar">
	
		<h1><a href="/site">Memolane</a></h1>
		
		<% if current_user %>
		
		<div class="top-bar-logged-in user-is-logged-in">
			<div class="top-bar-section top-bar-btn">
				<a id="tb-explore" href="/explore" title="<%= i18n( "Explore", "Link to explore topbar") %>"><span class="for-m-1024"><%= i18n( "Explore", "Link to explore topbar") %></span><span class="for-l-1024" id="explore-icon">&nbsp;</span></a>
			</div>
			<div class="top-bar-section top-bar-btn">
				<a id="tb-dashboard" href="/<%= current_user ? current_user.username : ""%>" title="<%= i18n( "Profile", "Link to users profile in topbar") %>"><img src="/<%= current_user ? current_user.username : "default"%>/image.small?noCacheImage=<%= Time.now().to_i  %>" width="20" height="20" /><span class="for-m-1024"><%= i18n( "Profile", "Link to users profile in topbar") %></span><span class="for-l-1024"></span></a>
			</div>
			<div class="top-bar-section top-bar-btn tb-dropdown" data-ddid="dd-news" id="dd-news-button">
				<span id="tb-news" class="tb-dropdown-btn"><span id="tb-news-count"><span>0</span></span><span class="for-m-1024"><%= i18n( "News", "News dropdown link in topbar") %></span><span class="for-l-1024" id="news-icon">&nbsp;</span></span>
			</div>
			<div class="top-bar-section top-bar-btn tb-dropdown" data-ddid="dd-friends" id="dd-friends-button">
				<span id="tb-friends" class="tb-dropdown-btn"><span id="tb-friends-count"><span>0</span></span><span class="for-m-1024"><%= i18n( "Friends", "Friends dropdown link in topbar" ) %></span><span class="for-l-1024" id="friends-icon">&nbsp;</span></span>
			</div>
			<div class="top-bar-section top-bar-btn tb-dropdown" data-ddid="dd-lanes" id="dd-lanes-button">
				<span id="tb-lanes" class="tb-dropdown-btn"><span><%= i18n( "Lanes", "Lanes link in topbar" ) %></span></span>
			</div>
			<div class="top-bar-section" id="tb-create-lane">
				<a id="new-lane-top-bar-link" href="/<%= current_user ? current_user.username : ""%>/new" ><span class="for-m-1024"><%= i18n( "Create a lane" , "text of topbar button for creating a new lane" ) %></span><span class="for-l-1024">+ Lane</span></a>
			</div>
		</div>
		
		<% else %>
		
		<div class="top-bar-signup user-is-not-logged-in">
		<div class="top-bar-section top-bar-btn">
				<a id="tb-explore" href="/explore" title="<%= i18n( "Explore", "Link to explore topbar") %>"><span class="for-m-1024"><%= i18n( "Explore", "Link to explore topbar") %></span><span class="for-l-1024" id="explore-icon">&nbsp;</span></a>
			</div>
			<div class="top-bar-section top-bar-btn">&nbsp;</div>
			<a href="#" class="facebookLoginBtn btn-blue inactive" style="margin-left:15px;"><%= i18n("Connect", "text on Facebook signup button") %></a>
			<span style="color:#777;margin:0 3px 0 6px;"><%= i18n("or", "sign up or sign in") %></span>
			<a href="/signup"><span><%= i18n("sign up", "Text on green signup button") %></span></a><span style="color:#777;margin:0 0 0 5px;"><%= i18n("using email") %></span>
		</div>
		
		<% end %>
		
		<div class="top-bar-section" id="tb-search">
                        <% if @lane %>
			        <input type="input" id="search-input" />
                        <% else %>
                                <input type="input" id="search-input" />
                        <% end %>
			<a id="close-search-btn"><%= i18n( "exit search", "tooltip for button closing search dropdown" ) %></a>
		</div>
		
	</div>
