<!doctype html>

<!--[if IE 8]> <html class="ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	   Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><%= i18n("Memolane | See, search, and share your life", "The memolane Catchphrase") %></title>
	
	<meta name="title" content='<%= i18n("Memolane | See, search, and share your life", "The memolane Catchphrase") %>' />
	
	<meta name="description" content='<%= i18n("Keep your memories alive. Capture photos, music, tweets, posts, and much more. View and share your entire online life in one place. Explore and search your history. One timeline, a million memories.") %>' />
	
	<!-- Tablet Optimized -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<!-- CSS: implied media="all" -->
        <% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
        <%= include_css_bundle "signIn.css" %>
        <% else %> 
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/defaults.css">
	<link rel="stylesheet" href="/css/common.css">
		<!-- CSS modules used on this page -->
	<link rel="stylesheet" href="/css/modules/topBar.css">
	<link rel="stylesheet" href="/css/modules/headings.css">
	<link rel="stylesheet" href="/css/modules/buttons.css">
	<link rel="stylesheet" href="/css/modules/header.css">
	<link rel="stylesheet" href="/css/modules/dialogs.css">
	<link rel="stylesheet" href="/css/modules/validation.css">
	<link rel="stylesheet" href="/css/modules/tooltips.css">
	<link rel="stylesheet" href="/css/modules/notifications.css">
		<!-- Page Specific CSS -->
	<link rel="stylesheet" href="/css/modules/signInAndUp.css">
	<% end %>

	<!-- start Mixpanel -->
	<script type="text/javascript">
	   mpq=[];mpq.push(["init","<%= MIXPANEL_KEY %>"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script>
	<!-- end Mixpanel -->    	
	  		
	<!-- Memolane namespace -->
	<script type="text/javascript">
	/*-----------------------------
	setup application namespace
	-----------------------------*/
	window.memolane = {};
	//setup shortcut
	window.m = memolane;
	</script>

</head>
<body id="loginForm">

<div id="header" class="more1024">
	<div id="top-bar">
		<h1><a href="/site"><%= i18n("Memolane") %></a></h1>
	</div>
</div>


<div id="content">
	<h1 class="header typeE" style="text-align:left; font-size:16px; padding:20px 0 0 20px;"><%= i18n("Welcome back!", "main heading on login page") %></h1>
	
	<div id="facebookSignupChoice">
		<div class="facebookLoginBtn btn-blue inactive"><%= i18n("Login with Facebook") %></div>
		<p>OR</p>
	</div>
	
	<form action="/login" enctype="multipart/form-data" method="post" id="signin">           
		<label>
			<%= i18n("Username or E-mail", "what to enter as username on the login page") %>
			<input type="text" name="username" id="username" tabindex="1" />
		</label>
		<label>
			<%= i18n("Password", "password field on login page") %> <a href="forgot" class="float-right" style="font-weight:normal; text-decoration:underline; font-size:11px;"><%= i18n("I forgot my password", "text for forgotton password link on login page") %></a>
			<input type="password" name="password" id="password" tabindex="2" />
		</label>
		<label style="margin-top:-10px;">
			<input type="checkbox" name="remember" tabindex="3" id="remember" checked="checked"/> <%= i18n("Remember me", "text for chekcbox on login page to remember login for next visit") %>
		</label> 
		
		<div id="form-actions">
			<input type="submit" value='<%= i18n("Log In", "text on main login button on login page") %>' class="btn-green float-right" tabindex="4" style="font-size:13px; padding-left:18px; padding-right:18px;" />
			<div class="form-message-error display-none">
				<%= i18n("Username or password invalid, try again!", "the supplied login information was not valid") %>
			</div>
		</div>
	</form>
	
	<p class="text typeE clear" style="text-align:left; padding-left:30px;"><%= i18n("Don\'t have an account yet? <a href=\'/signup\'>Sign Up</a>", "description of link to the signup page. Do not modify url") %></p>
</div>

<input type="hidden" name="_csrf" id="csrf" value="<%= Rack::Csrf.csrf_token(env) %>">

<!-- JavaScript at the bottom for fast page loading -->

<!-- translation from english, CAN'T be bundles, must be load before eveything -->
<script src="/lang.js"></script>

<!-- Thirdparty Scripts -->
<%= partial 'includes/jsThirdParty', @includes %>

<!-- inline JS for this html page  -->
<script type="text/javascript">
	document.getElementById('username').focus();
	m.csrf = "<%= Rack::Csrf.csrf_token(env) %>";
	m.currentLanguage = '<%= session["language"] %>';
	m.fbAppID = '<%= FACEBOOK_APP_ID %>';
</script>


<% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
<%= include_js_bundle "signIn.js" %>
<% else %> 

<!-- Memolane application setup / modules -->
<script src="/js/utilities.js"></script>
<script src="/js/globalTemplates.js"></script>
<script src="/js/appSetup.js"></script>

<!-- Start adding modules to be used on this page -->
<script src="/js/modules/topBar.js"></script>
<script src="/js/modules/signin.js"></script>
<script src="/js/modules/fbConnect.js"></script>
<!-- /End modules to be used on this page -->
	
<script src="/js/runApp.js"></script>
  
<% end %>

<!--GOOGLE ANALYTICS-->
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-18503349-1']);
 _gaq.push(['_setDomainName', '.memolane.com']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

<% if current_user %>
<!-- Mixpanel -->
<script type="text/javascript">
mpq.name_tag('<%= current_user.username%>'); 
</script>
<!-- Mixpanel -->
<% end %>

</body>
</html>