<!doctype html>

<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='1307335019',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script><script>utmx("url",'A/B');</script>
<!-- End of Google Website Optimizer Control Script -->
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-18503349-8']);
  _gaq.push(['gwo._trackPageview', '/1307335019/test']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	   Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="fragment" content="!">
	
	<title><%= i18n("Memolane | See, search, and share your life", "The memolane Catchphrase") %></title>

	<meta name="title" content="Memolane | See, search, and share your life" />
	<meta name="description" content="<%= i18n( "Your social life, captured in a simple, elegant timeline.", "intro header on memolane.com homepage" ) %>" />
    
	<meta property="og:title" content="<%= i18n("Memolane | See, search, and share your life", "The memolane Catchphrase") %>"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="<%= request.url %>"/>
	<meta property="og:image" content="http://memolane.com/img/site/memolaneFlag.jpg"/>
	<meta property="og:site_name" content="Memolane"/>
	<meta property="og:video" content="http://player.vimeo.com/video/31261298?title=0&amp;color=ff9933"/>
	<meta property="og:description" content="<%= i18n( "Your social life, captured in a simple, elegant timeline.", "intro header on memolane.com homepage" ) %>" />
	<meta property="fb:admins" content="<%= FACEBOOK_FRANCOIS_ID %>"/>
	
	<meta itemprop="name" content="Memolane">
	<meta itemprop="description" content="Keep your memories alive. Capture photos, music, tweets, posts, and much more. View and share your entire online life in one place. Explore and search your history. One timeline, a million memories.">
	<meta itemprop="image" content="/img/defaults/lane.png">
	
	<!-- Tablet Optimized -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<!-- CSS: implied media="all" -->
	<% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
	<%= include_css_bundle "site.css" %>
	<% else %> 
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/defaults.css">
	<link rel="stylesheet" href="/css/common.css">
		
	<link rel="stylesheet" href="/css/modules/utilityNav.css">
	<link rel="stylesheet" href="/css/modules/search.css">
	<link rel="stylesheet" href="/css/modules/topBar.css">
	<link rel="stylesheet" href="/css/modules/headings.css">
	<link rel="stylesheet" href="/css/modules/buttons.css">
	<link rel="stylesheet" href="/css/modules/topBarDropDowns.css">
	<link rel="stylesheet" href="/css/modules/header.css">
	<link rel="stylesheet" href="/css/modules/dialogs.css">
	<link rel="stylesheet" href="/css/modules/tooltips.css">
	<link rel="stylesheet" href="/css/modules/notifications.css">
	<link rel="stylesheet" href="/css/modules/buttonBars.css">
	<link rel="stylesheet" href="/css/modules/language.css">
	
	<link rel="stylesheet" href="/css/modules/site.css">
	
	<% end %>

	<!-- start Mixpanel -->
	<script type="text/javascript">
	   mpq=[];mpq.push(["init","<%= MIXPANEL_KEY %>"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script>
	<!-- end Mixpanel -->    	
	
	<script type="text/javascript">
	/*-----------------------------
	setup application namespace
	-----------------------------*/
	window.memolane = {};
	//setup shortcut
	window.m = memolane;
	
	</script>

</head>

<body>

<div id="header" class="more1024" style="height:55px">

<%= partial 'includes/utilityNav', @includes %>

</div>

	
<!-- Intro -->
<div class="intro">
	<h2 style="font-size:45px;"><%= i18n( "Memolane is your social media scrapbook.", "intro header on memolane.com homepage" ) %></h2>
	
	<% unless current_user %>
	<p style="margin:10px 0 5px 0">
	<a href="#" class="facebookLoginBtn btn-blue inactive" style="background-image:url(/img/common/bigFacebookIcon.png); font-size:19px; padding:10px 11px 11px 54px; background-repeat: no-repeat; "><%= i18n("Sign up using Connect", "text on Facebook signup button") %></a> <span style="margin:0 0 0 5px; font-size:10px;"><%= i18n("or sign up using <a href=\"/signup\">email</a>") %></span>	
	</p>
	<% end %>
	
	<p style="margin:0 0 40px 0; font-size:14px;"><%= i18n( "Watch <a href=\"#\" id=\"watchVideo\">this video</a>, checkout out the Memolane below, or start <a href=\"/explore\">exploring</a>." ) %></p>	
	<div style="clear:both;height:0;overflow:hidden;"></div>
        <% if session['language'] == 'ja' %>
        <iframe style="visibility:hidden;" onload="this.style.visibility='visible';" id="embed-nhnPicasa4" src="http://memolane.com/Eric/Memolane%20Journey?embedded=true&amp;embedded_border=none&amp;embedded_background=transparent&hide_branding=1" width="100%" height="500px"></iframe>
        <% else %>
        <iframe  style="visibility:hidden;" onload="this.style.visibility='visible';"id="embed-nhnPicasa4" src="http://memolane.com/Eric/Memolane%20Journey?embedded=true&amp;embedded_border=none&amp;embedded_background=transparent&hide_branding=1" width="100%" height="500px"></iframe>
        <% end %>
</div>

<!-- JavaScript at the bottom for fast page loading -->

<!-- translation from english, CAN'T be bundles, must be load before eveything -->
<script src="/lang.js"></script>

<!-- Thirdparty Scripts -->
<%= partial 'includes/jsThirdParty', @includes %>

<!-- JS for just this html page  -->
<script type="text/javascript">
	m.csrf = "<%= Rack::Csrf.csrf_token(env) %>";
	<% if current_user %>
		m.currentUser = {
			userID : "<%= current_user.id %>",
			username : "<%= current_user.username%>",
			first_name : "<%= h current_user.first_name%>",
			last_name: "<%= h current_user.last_name%>",
			image : "<%= "#{current_user.username}/image" %>",
			bio : "<%= h( current_user.bio).gsub( /\n/m, '/n').gsub("\u2028", '') %>"
		};
	<% else %>
		m.currentUser = null;
	<% end %>
        m.currentLanguage = '<%= session["language"] %>';
	m.fbAppID = '<%= FACEBOOK_APP_ID %>';
        m.featuredLanes = <%= Memolane::Web::Discovery.get_featured_lanes(current_language) %>;
        m.imageServer = '<%= IMAGE_SERVER %>';
</script>

<% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
<%= include_js_bundle "site.js" %>
<% else %> 

<!-- Memolane application setup / modules -->
<script src="/js/utilities.js"></script>
<script src="/js/globalTemplates.js"></script>
<script src="/js/appSetup.js"></script>

<!-- Start adding modules to be used on this page -->
<script src="/js/modules/language.js"></script>
<script src="/js/modules/fbConnect.js"></script>
<!-- /End modules to be used on this page -->

<script src="/js/runApp.js"></script>

<% end %>

<script>

jQuery('#watchVideo').click(function(){
	jQuery('#embed-nhnPicasa4')[0].contentWindow.jQuery('#4a8c419e7a05fd6995df2d428d43c84fyoutubeThepowerofgoodwill2MMiMTN9swY').trigger('click');
		return false;
});

</script>


<!-- Footer -->
<!--Uservoice-->
<%= include_uservoice_js %>

<!--GOOGLE ANALYTICS-->
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-18503349-1']);
 _gaq.push(['_setDomainName', '.memolane.com']);
 _gaq.push(['_trackPageview']);

 (function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

<% if current_user %>
<!-- Mixpanel -->
<script type="text/javascript">
mpq.name_tag('<%= current_user.username%>'); 
</script>
<!-- Mixpanel -->
<% end %>

</body>
</html>
