<!doctype html>

<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	   Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="fragment" content="!">
	
	<meta name="title" content='<%= i18n("Memolane | See, search, and share your life", "The memolane Catchphrase") %>' />
		
	<meta name="description" content='<%= i18n("Keep your memories alive. Capture photos, music, tweets, posts, and much more. View and share your entire online life in one place. Explore and search your history. One timeline, a million memories.") %>' />

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="<%= MEMOLANE_HOST %><%= request.path %>?<%= request.query_string %>"/>
    <meta property="og:site_name" content="Memolane"/>
    <meta property="fb:admins" content="<%= FACEBOOK_FRANCOIS_ID %>"/>
	
	<!-- Tablet Optimized -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<!-- CSS: implied media="all" -->
        <% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
        <%= include_css_bundle "legal.css" %>
        <% else %> 
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/defaults.css">
	<link rel="stylesheet" href="/css/common.css">
		<!-- CSS modules used on this page -->
	<link rel="stylesheet" href="/css/modules/utilityNav.css">
	<link rel="stylesheet" href="/css/modules/search.css">
	<link rel="stylesheet" href="/css/modules/topBar.css">
	<link rel="stylesheet" href="/css/modules/headings.css">
	<link rel="stylesheet" href="/css/modules/buttons.css">
	<link rel="stylesheet" href="/css/modules/topBarDropDowns.css">
	<link rel="stylesheet" href="/css/modules/header.css">
	<link rel="stylesheet" href="/css/modules/dialogs.css">
	<link rel="stylesheet" href="/css/modules/tooltips.css">
	<link rel="stylesheet" href="/css/modules/notifications.css">
	<link rel="stylesheet" href="/css/modules/buttonBars.css">
	<link rel="stylesheet" href="/css/modules/language.css">
		<!-- Page Specific CSS -->
	<link rel="stylesheet" href="/css/modules/legal.css">
        <% end %>

	<!-- start Mixpanel -->
	<script type="text/javascript">
	   mpq=[];mpq.push(["init","<%= MIXPANEL_KEY %>"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script>
	<!-- end Mixpanel -->    	
	
	<!-- Memolane namespace -->
	<script type="text/javascript">
	/*-----------------------------
	setup application namespace
	-----------------------------*/
	window.memolane = {};
	//setup shortcut
	window.m = memolane;
	</script>

</head>

<body>

<div id="header" class="more1024">

<%= partial 'includes/utilityNav', @includes %>

<%= partial 'includes/topBar', @includes %>

</div>

<div id="mainLegalContent">
    <h3>Memolane Terms of Service</h3>
    <span class="date">Last Updated Date: January 9, 2012</span>

<p>Memolane, Inc. ("Memolane" or "we") provides a service that allows members to capture, create, search, comment and share a variety of information in which they are interested, including personal histories (the "Services") through our website, accessible at www.memolane.com (the "Site") and as an application for mobile devices (the "Application"). Please read carefully the following terms and conditions ("Terms") and our Privacy Policy, which may be found at http://www.memolane.com/site/privacy-policy.html and which is incorporated by reference into these Terms. These Terms govern your access to and use of the Site, Application and the Services and, except as otherwise provided in these Terms, all text, graphics, images, music, audio, video, information or other materials available through the Site, Application and Services (excluding the Application) ("Content"), and constitute a binding legal agreement between you and Memolane.<br />
Certain areas of the Site and Application (and your access to or use of certain Services or Content) may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and terms and conditions posted for a specific area of the Site, Application, Services or Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Application, Services or Content.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE, APPLICATION OR SERVICES OR BY DOWNLOADING OR POSTING ANY CONTENT FROM OR ON THE SITE OR APPLICATION OR THROUGH THE SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SITE OR APPLICATION. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, APPLICATION, SERVICES OR CONTENT. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, "you" and "your" will refer and apply to that company or other legal entity.</p>

<h4>Modification</h4>
<p>Memolane reserves the right, at its sole discretion, to modify, discontinue or terminate the Site, Application or Services or to modify these Terms, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or via the Application or provide you with notice of the modification. We will also update the "Last Updated Date" at the top of these Terms. By continuing to access or use the Site, Application or Services after we have posted a modification on the Site or Application or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site, Application and Services.</p>

<h4>Eligibility</h4>
<p>The Site, Application and Services are intended solely for persons who are 13 or older. Any access to or use of the Site, Application or Services by anyone under 13 is expressly prohibited. By accessing or using the Site, Application or Services you represent and warrant that you are 13 or older.</p>

<h4>Account Registration</h4>
<p>In order to access certain features of the Site, Application and Services and to post on any Content on the Site or Application or through the Services, you must register to create an account ("Account") and become a "Member." During the registration process, you will be required to provide certain information and you will establish a username and a password. You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. Memolane reserves the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete. You are responsible for safeguarding your password. You agree not to disclose your password to any third party and to take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify Memolane of any unauthorized use of your Account.</p>

<h4>Third Party Accounts </h4>
<p>As a Memolane Member who has registered for the Services, you have the option of granting Memolane access to accounts you may have with certain third party service providers (each such account, a "Third Party Account") to enable Memolane to capture and make available on the Site and Application via your Memolane Account personally identifiable information about you and other content that you have stored in your account with such Third Party Account ("Third Party Account Content"). By granting Memolane access to any Third Party Accounts you understand that Memolane will access, make available and store (if applicable) your Third Party Account Content so that it is viewable on or through the Site, Application and Services. Before accessing any of your Third Party Account Content, Memolane will ask you to choose whether or not to publicly share your Third Party Account Content on or through the Site, Application and Services or only with Memolane Friends (defined below).  Unless otherwise specified in these Terms, all Third Party Account Content, if any, will be considered to be Member Submission (defined below) for all purposes of these Terms.  Memolane is not responsible for any Third Party Account Content you have stored on any Third Party Accounts that you choose to make viewable on or through the Site, Application and Services. Depending on the Third Party Accounts you choose and, subject to the privacy settings you have set in your Third Party Accounts and the privacy settings you have set for your Third Party Accounts on Memolane, personally identifiable information that you post to your Third Party Accounts    will be viewable on or through the Site, Application and Services. Please note that if a Third Party Account becomes unavailable or closes Memolane's access to your Third Party Account, any Third Party Account Content from that Third Party Account will no longer be viewable on or through the Site, Application and Services. You have the ability to disable the connection between the Services and your Third Party Accounts at any time via the "My Services" section of the Site and Application. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE PROVIDER OF EACH THIRD PARTY ACCOUNT IS GOVERNED BY AGREEMENTS YOU HAVE WITH THE PROVIDER OF SUCH THIRD PARTY ACCOUNT AND ANY CONTENT YOU POST TO SUCH THIRD PARTY ACCOUNT OR THAT IS HELD BY THE PROVIDER OF SUCH THIRD PARTY ACCOUNT AND THE STORAGE THEREOF, IS SUBJECT TO SUCH AGREEMENTS. ANY RISK OF LOSS RELATING TO SUCH CONTENT THAT YOU MAKE AVAILABLE VIA THE SITE, APPLICATION AND SERVICES LIES ENTIRELY WITH YOU.</p>

<h4>Memolane Friends</h4>

<p>Via the "Add Friend" feature of the Services, you can invite other Members to become your friends on Memolane ("Friends").  If you invite a third party to become your Friend, such individual will have the opportunity to confirm or reject your invitation.  If the third party confirms your Friend invitation, you will be able to view all such individual's Third Party Account Content that is marked as "Public" or "Friends only".  In addition, you will have the ability to pull your Friend's "Public" or "Friends only" Third Party Account Content into the memolanes you create via the Services. This Third Party Account Content will be viewable via the Services in accordance with the privacy settings in the Friend's Account.</p>

<p>PLEASE NOTE THAT IF YOU DO NOT WANT YOUR MEMOLANE FRIENDS TO HAVE THE ABILITY TO PULL YOUR THIRD PARTY ACCOUNT CONTENT INTO THE MEMOLANES THEY CREATE VIA THE SERVICES, YOU MAY OPT OUT OF THIS FEATURE VIA THE "MY SERVICES" SECTION OF THE SERVICES, BY CHANGING THE PRIVACY SETTINGS RELATED TO YOUR ACCOUNT OR MEMOS TO "PRIVATE" OR BY REMOVING YOURSELF AS A CONTRIBUTOR TO YOUR FRIEND'S MEMOLANE FROM YOUR MEMOLANE DASHBOARD.  HOWEVER, PLEASE ALSO NOTE THAT ONCE YOU ARE FRIENDS WITH ANOTHER MEMBER, SUCH MEMBER WILL IMMEDIATELY HAVE THE ABILITY TO EMBED YOUR THIRD PARTY ACCOUNT CONTENT INTO THEIR MEMOLANES, SO PLEASE CONISDER THIS FEATURE BEFORE ACCEPTING A FRIEND INVITATION VIA THE SERVICES. </p>

<h4>Account Fees</h4>
<p>The Services are currently made available to Members without charge. However, Memolane reserves the right to charge for your use of the Services at any time.</p>

<h4>Privacy</h4>
<p>See Memolane's Privacy Policy at http://www.memolane.com/site/privacy-policy.html for information and notices concerning Memolane's collection and use of your personal information.</p>

<h4>Ownership</h4>
<p>The Site, Application, Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries. Except as expressly provided in these Terms, Memolane and its licensors exclusively own all right, title and interest in and to the Site, Application, Services and Content, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Application, Services or Content.</p>

<h4>Content License</h4>
<p>Subject to your compliance with the terms and conditions of these Terms, Memolane grants you a limited, non-exclusive, non-transferable license, without the right to sublicense, to access and view any Content solely for your personal and non-commercial purposes. You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Site, Application, Services or Content, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Memolane or its licensors, except for the licenses and rights expressly granted in these Terms.</p>

<h4>Member Submissions</h4>
<p>In addition to providing Memolane with access to Third Party Account Content as described in "Third Party Accounts" above, Members may post, upload, publish, submit or transmit text, graphics, images, music, audio, video, information or other materials, including comments, to be made available through the Site, Application and Services ("Member Submissions"). By making available any Member Submissions through the Site, Application and Services, you hereby grant to Memolane a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast and otherwise exploit such Member Submissions only on, through or by means of the Site, Application and Services. Memolane does not claim any ownership rights in any Member Submissions and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit any Member Submissions.</p>

<p>You acknowledge and agree that you are solely responsible for all Member Submissions that you make available through the Site, Application or Services. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Member Submissions that you make available through the Site, Application or Services or you have all rights, licenses, consents and releases that are necessary to grant to Memolane the rights in such Member Submissions , as contemplated under these Terms; and (ii) neither the Member Submissions nor your posting, linking, referencing, uploading, publication, submission or transmittal of the Member Submissions or Memolane's use thereof (in whole or in part) on, through or by means of the Site, Application and Services will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation. ANY RISK OF LOSS RELATING TO MEMBER SUBMISSIONS THAT YOU MAKE AVAILABLE VIA THE SERVICES LIES ENTIRELY WITH YOU.</p>

<h4>Application License</h4>

<p>Subject to your compliance with these Terms, Memolane grants you a limited non-exclusive, non-transferable license to download and install a copy of the Application on a single mobile device or computer that you own or control and to run such copy of the Application solely for your own personal use.</p>

<h4>Feedback</h4>
<p>We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site, Application and Services ("Feedback"). You may submit Feedback by emailing us at info@memolane.com or by selecting the "Feedback" button on the Site and Application. You acknowledge and agree that all Feedback will be the sole and exclusive property of Memolane and you hereby irrevocably assign to Memolane and agree to irrevocably assign to Memolane all of your right, title, and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At Memolane's request and expense, you will execute documents and take such further acts as Memolane may reasonably request to assist Memolane to acquire, perfect, and maintain its intellectual property rights and other legal protections for the Feedback.</p>

<h4>General Prohibitions</h4>
<p>You agree not to do any of the following:</p>
<ul>
	<li>Post, upload, publish, submit, transmit or grant Memolane access to any text, graphics, images, music, audio, video, information or other material that: (i) infringes, misappropriates or violates a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances.</li>
	<li>Use, display, mirror or frame the Site or Application, or any individual element within the Site or Application, or the layout and design of any page or form contained on a page without Memolane's express written consent, except that you may embed the Site or any individual element within the Site that contains your Member Submissions on any websites that you own or control only by following the instructions made available by Memolane at http://www.memolane.com.</li>
	<li>Use, display, mirror or frame Memolane's name, any Memolane trademark, logo or other proprietary information without Memolane's express written consent;</li>
	<li>Access, tamper with, or use non-public areas of the Site or Application, Memolane's computer systems, or the technical delivery systems of Memolane's providers;</li>
	<li>Attempt to probe, scan, or test the vulnerability of any Memolane system or network or breach any security or authentication measures;</li>
	<li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Memolane or any of Memolane's providers or any other third party (including another Member) to protect the Site, Application, Services or Content;</li>
	<li>Attempt to access or search the Site, Application, Services or Content or download Content from the Site, Application or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Memolane or other generally available third party web browsers;</li>
	<li>Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;</li>
	<li>Use any meta tags or other hidden text or metadata utilizing a Memolane trademark, logo URL or product name without Memolane's express written consent;</li>
	<li>Use the Site, Application, Services or Content for any commercial purpose or the benefit of any third party or in any manner whatsoever, including without limitation using the Site, Application, Services or Content for any purpose that generates revenue or that has any financial aspect associated therewith. However, use of the Site, Application, Services or Content for the limited purpose of describing or illustrating the story of the history of a corporate entity is permitted.</li>
	<li>Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Application, Services or Content to send altered, deceptive or false source-identifying information;</li>
	<li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Application, Services or Content;</li>
	<li>Interfere with, or attempt to interfere with, the access of any Member, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site or Application;</li>
	<li>Collect or store any personally identifiable information from the Site, Application or Services from other Members of the Site, Application or Services without their express permission;</li>
	<li>Impersonate or misrepresent your affiliation with any person or entity;</li>
	<li>Violate any applicable law or regulation; or</li>
	<li>Encourage or enable any other individual to do any of the foregoing.</li>
</ul>

<p>Memolane will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law. Memolane may involve and cooperate with law enforcement authorities in prosecuting individuals who violate these Terms. You acknowledge that Memolane has no obligation to monitor your access to or use of the Site, Application, Services or Content or to review or edit any Member Submissions, but has the right to do so for the purpose of operating the Site, Application and Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Memolane reserves the right, at any time and without prior notice, to remove or disable access to any Content, including, any  Member Submissions, that Memolane, at its sole discretion, considers to be in violation of these Terms or otherwise harmful to the Site, Application or Services.</p>

<h4>Copyright Policy</h4>
<p>Memolane respects copyright law and expects its Members to do the same. Memolane has adopted and implemented a policy that provides for the termination in appropriate circumstances of registered Members or other account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders. Please see Memolane's Copyright Policy at http://www.memolane.com/copyright.html for further information.</p>

<h4>Links</h4>
<p>The Site and Application may contain links to third-party websites or resources, including, but not limited to, those that are made available on the Site or Application as a result of your connection of Third Party Accounts to your Memolane Account. You acknowledge and agree that Memolane is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Memolane of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>

<h4>Termination and Account Cancellation</h4>
<p>If you breach any of these Terms, Memolane will have the right to suspend or disable your Account or terminate these Terms, at its sole discretion and without prior notice to you. Memolane reserves the right to revoke your access to and use of the Site, Application, Services and Content at any time, with or without cause. In the event Memolane terminates these Terms for your breach, you will remain liable for any amounts due hereunder. You may cancel your Account at any time from the "My Settings" section of the Services. UPON ANY TERMINATION OR CANCELLATION OF YOUR ACCOUNT, ANY CONTENT, MATERIALS OR INFORMATION (INCLUDING MEMBER SUBMISSIONS) THAT YOU HAVE SUBMITTED ON OR THAT YOU ACCESS VIA THE SITE, APPLICATION OR SERVICES WILL NO LONGER BE ACCESSIBLE BY YOU VIA THE SITE, APPLICATION OR SERVICES.</p>

<h4>Disclaimers</h4>
<p>THE SITE, APPLICATION, SERVICES AND CONTENT ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, MEMOLANE EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. MEMOLANE MAKES NO WARRANTY THAT THE SITE, APPLICATION, SERVICES OR CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. MEMOLANE MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICES OR CONTENT OBTAINED THROUGH THE SITE, APPLICATION OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH THE SITE, APPLICATION OR SERVICES.</p>

<p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM MEMOLANE OR THROUGH THE SITE, APPLICATION, SERVICES OR CONTENT, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. YOU UNDERSTAND AND AGREE THAT ANY THIRD PARTY ACCOUNT CONTENT OR MEMBER SUBMISSIONS STORED ON OR ACCESSIBLE VIA THE SITE, APPLICATION AND SERVICES IS STORED AND ACCESSIBLE AT YOUR OWN DISCRETION AND RISK AND THAT MEMOLANE WILL NOT BE RESPONSIBLE FOR ANY LOSS OF OR DAMAGE TO YOUR THIRD PARTY ACCOUNT CONTENT OR MEMBER SUBMISSIONS AND DISCLAIMS ALL LIABILITY IN THIS REGARD. YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OF THE SITE, APPLICATION OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, APPLICATION OR SERVICES. YOU UNDERSTAND THAT MEMOLANE DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY MEMBERS OF THE SITE, APPLICATION OR SERVICES, NOR DOES MEMOLANE MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF MEMBERS OF THE SITE, APPLICATION OR SERVICES. MEMOLANE MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF MEMBERS OF THE SITE, APPLICATION OR SERVICES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE MEMBERS OF THE SITE, APPLICATION OR SERVICES. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OF THE SITE, APPLICATION OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, APPLICATION OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.</p>

<h4>Indemnity</h4>
<p>You agree to defend, indemnify, and hold Memolane, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with Member Submissions, your access to or use of the Site, Application, Services or Content, or your violation of these Terms.</p>

<h4>Limitation of Liability</h4>
<p>YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SITE, APPLICATION, SERVICES AND CONTENT REMAINS WITH YOU. NEITHER MEMOLANE NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SITE, SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SITE, APPLICATION, SERVICES OR CONTENT, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER MEMBERS OF THE SITE, APPLICATION OR SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, APPLICATION OR SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT MEMOLANE HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

<p>IN NO EVENT WILL MEMOLANE'S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SITE, APPLICATION, SERVICES OR CONTENT EXCEED FIFTY DOLLARS ($50). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN MEMOLANE AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

<h4>Proprietary Rights Notices</h4>
<p>All trademarks, service marks, logos, trade names and any other proprietary designations of Memolane used herein are trademarks or registered trademarks of Memolane. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.</p>

<h4>Controlling Law and Jurisdiction</h4>
<p>These Terms and any action related thereto will be governed by the laws of the State of California without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents or other intellectual property rights will be the state and federal courts located in the Northern District of California and each of the parties hereto waives any objection to jurisdiction and venue in such courts.</p>

<h4>Entire Agreement</h4>
<p>These Terms constitute the entire and exclusive understanding and agreement between Memolane and you regarding the Site, Application, Services and Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between Memolane and you regarding the Site, Application, Services and Content.</p>

<h4>Assignment</h4>
<p>You may not assign or transfer these Terms, by operation of law or otherwise, without Memolane's prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Memolane may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>

<h4>Notices</h4>
<p>Any notices or other communications permitted to required hereunder, including those regarding modifications to these Terms, will be in writing and given by Memolane (i) via email (in each case to the address that you provide) or (ii) by posting to the Site and Application. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.</p>

<h4>Dispute Resolution</h4>
<p>You and Memolane agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Site, Application or Services (collectively, "Disputes") will be settled by binding arbitration, except that each party retains the right to bring an individual action in small claims court and the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents or other intellectual property rights. You acknowledge and agree that you and Memolane are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, unless both you and Memolane otherwise agree in writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this "Dispute Resolution" section will be deemed void. Except as provided in the preceding sentence, this "Dispute Resolution" section will survive any termination of these Terms.</p>

<p>Arbitration Rules and Governing Law. The arbitration will be administered by the American Arbitration Association ("AAA") in accordance with the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the "AAA Rules") then in effect, except as modified by this "Dispute Resolution" section. (The AAA Rules are available at www.adr.org/arb_med or by calling the AAA at 1-800-778-7879.) The Federal Arbitration Act will govern the interpretation and enforcement of this Section.</p>

<p>Arbitration Process. A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA provides a form Demand for Arbitration at www.adr.org/si.asp?id=3477 and a separate form for California residents at www.adr.org/si.asp?id=3485.) The arbitrator will be either a retired judge or an attorney licensed to practice law in the state of California and will be selected by the parties from the AAA's roster of consumer dispute arbitrators. If the parties are unable to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the arbitrator in accordance with the AAA Rules.</p>

<p>Arbitration Location and Procedure. Unless you and Memolane otherwise agree, the arbitration will be conducted in the county where you reside. If your claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of documents you and Memolane submit to the arbitrator, unless you request a hearing or the arbitrator determines that a hearing is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the arbitration.</p>

<p>Arbitrator's Decision. The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator's decision will include the essential findings and conclusions upon which the arbitrator based the award. Judgment on the arbitration award may be entered in any court having jurisdiction thereof. The arbitrator's award damages must be consistent with the terms of the "Limitation of Liability" section above as to the types and the amounts of damages for which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to provide relief warranted by the claimant's individual claim. If you prevail in arbitration you will be entitled to an award of attorneys' fees and expenses, to the extent provided under applicable law. Memolane will not seek, and hereby waives all rights it may have under applicable law to recover, attorneys' fees and expenses if it prevails in arbitration.</p>

<p>Fees. Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules. However, if your claim for damages does not exceed $75,000, Memolane will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).</p>

<p>Changes. Notwithstanding the provisions of the "Modification" section above, if Memolane changes this "Dispute Resolution" section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email to info@memolane.com) within 30 days of the date such change became effective, as indicated in the "Last Updated Date" above or in the date of Memolane's email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and Memolane in accordance with the provisions of this "Dispute Resolution" section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).</p>

<h4>General</h4>
<p>The failure of Memolane to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Memolane. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.</p>

<h4>Contacting Memolane</h4>
<p>If you have any questions about these Terms, please contact Memolane at info@memolane.com.</p>
    
  </div>



<!-- DROPDOWNS  -->
<%= partial 'includes/topBarDropDowns', @includes %>
<%= partial 'includes/topBarSearchDropDowns', @includes %>

<!-- JavaScript at the bottom for fast page loading -->

<!-- translation from english, CAN'T be bundles, must be load before eveything -->
<script src="/lang.js"></script>

<!-- Thirdparty Scripts -->
<%= partial 'includes/jsThirdParty', @includes %>

<!-- JS for just this html page  -->
<script type="text/javascript">
	m.csrf = "<%= Rack::Csrf.csrf_token(env) %>";
	<% if current_user %>
		m.currentUser = {
			userID : "<%= current_user.id %>",
			username : "<%= current_user.username%>",
			first_name : "<%= h current_user.first_name%>",
			last_name: "<%= h current_user.last_name%>",
			image : "<%= "#{current_user.username}/image" %>",
			bio : "<%= h( current_user.bio).gsub( /\n/m, '/n').gsub("\u2028", '') %>"
		};
	<% else %>
		m.currentUser = null;
	<% end %>
        m.currentLanguage = '<%= session["language"] %>';
	m.fbAppID = '<%= FACEBOOK_APP_ID %>';
</script>

<% if env["compact"] != 0 and ( ["production", "staging", "m2"].include?( ENV["RACK_ENV"] ) or env["compact"] == 1 ) %>
<%= include_js_bundle "legal.js" %>
<% else %> 

<!-- Memolane application setup / modules -->
<script src="/js/utilities.js"></script>
<script src="/js/globalTemplates.js"></script>
<script src="/js/appSetup.js"></script>

<!-- Start adding modules to be used on this page -->
<script src="/js/modules/language.js"></script>
<script src="/js/modules/topBar.js"></script>
<script src="/js/modules/topBarDropDowns.js"></script>
<script src="/js/modules/addFriends.js"></script>
<script src="/js/modules/share.js"></script>
<script src="/js/modules/search.js"></script>
<script src="/js/modules/fbConnect.js"></script>
<!-- /End modules to be used on this page -->

<script src="/js/runApp.js"></script>

<% end %>

<!--Uservoice-->
<%= include_uservoice_js %>

<!--GOOGLE ANALYTICS-->
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-18503349-1']);
 _gaq.push(['_setDomainName', '.memolane.com']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

<% if current_user %>
<!-- Mixpanel -->
<script type="text/javascript">
mpq.name_tag('<%= current_user.username%>'); 
</script>
<!-- Mixpanel -->
<% end %>

</body>
</html>
