<div id="api_editService">
  <h2>Edit Service</h2>
  <form id="apiService" action='/oauth/edit' enctype='multipart/form-data' method='post'>
    <div class="formBtnsTop">
      <input type="submit" value="Save" class="btnGreen" />
      <a href="/oauth/my_apps" class="linkSecondary topCancelBtn">Cancel</a>
    </div>

    <% if @client[:id] %>
      <input type='hidden' name='id' value='<%= @client[:id] %>' />
    <% end %>
    
    <label>Title
    <input type="text" name="display_name" value="<%= h @client[:display_name] %>" />
    </label>
    
    <label>Description
    <textarea name="notes"><%= h @client[:notes] %></textarea>
    </label>
    
    <label>Homepage
    <input type="text" name="link" value="<%= h @client[:link] %>" />
    </label>
    
    <label>Callback URI
    <input type="text" name="redirect_uri" value="<%= h @client[:redirect_uri] %>" />
    </label>
    
    <fieldset>
      <div class="half fileUpload">
        <div>
          <div>
            Large <span>(50x50)</span><br />
            <img src="<%= @client[:icon] || "/images/oauth/default50.png" %>" alt="service thumbnail - 50x50" />
          </div>
          <a href="#" class="btnOrange" id="btnUploadFile50">Select Image</a>
          <input id="icon50" name="icon" type="file" />
        </div>
        <div>
          <div>
            Medium <span>(32x32)</span><br />
            <img src="<%= @client[:connector_icon] || "/images/oauth/default32.png" %>" class="thumb32x32" alt="service thumbnail - 32x32" />
          </div>
          <a href="#" class="btnOrange" id="btnUploadFile32">Select Image</a>
          <input id="icon32" name="connector_icon" type="file" />
        </div>
        <div>
          <div>
            Small <span>(16x16)</span><br />
            <img src="<%= @client[:search_icon] || "/images/oauth/default16.png" %>" class="thumb16x16" alt="service thumbnail - 16x16" />
          </div>
          <a href="#" class="btnOrange" id="btnUploadFile16">Select Image</a>
          <input id="icon16" name="search_icon" type="file" />
        </div>
      </div>
      <div class="half fileUpload explanatoryText">
        <p>If you do not upload an image (for each size), the Memolane default will be used (shown at left).</p>
        <p id="icon50status" class="explainIcon"><strong>Large Icon:</strong> used to identify your service throughout Memolane.<span></span></p>
        <p id="icon32status" class="explainIcon"><strong>Medium Icon:</strong> used in the timeline to show memo origination.<span></span></p>
        <p id="icon16status" class="explainIcon"><strong>Small Icon:</strong> used in the news feed to show memo origination.<span></span></p>
      </div>
    </fieldset>
    
    <fieldset>
      <div class="half">
        <label>Small Memo Template
        <textarea name="template_small"><%= h @client[:template_small] %></textarea>
        </label>
        
        <label>Expanded Memo Template
        <textarea name="template_large"><%= h @client[:template_large] %></textarea>
        </label>
      </div>
      <div class="half explanatoryText">
        <p>You can use HTML (no &lt;h1&gt;, &lt;h2&gt; &lt;iframe&gt;, or &lt;script&gt;), inline CSS (no position:absolute, please), and Mustache templates to create normal and expanded memo types.</p>
        <p>Mustache variables available to you:<br />
          <strong>{{{title}}}, {{{description}}}, {{{geo}}}, {{{image}}}, {{{video}}}</strong></p>
        <p>Example:<br />
          &lt;div&gt;&lt;h3&gt;{{{title}}}&lt;/h3&gt;&lt;p&gt;{{{description}}}&lt;/p&gt;&lt;div&gt;
        </p>
      </div>
    </fieldset>
    
    <div class="keySecret">
      <p><em>Key</em> <span><%= h @client[:id] %></span></p>
      <p><em>Secret</em> <span><%= h @client[:secret] %></span></p>
    </div>
    
    
    <input type="submit" value="Save" class="btnGreen" />
    <a href="/oauth/my_apps" class="linkSecondary bottomCancelBtn">Cancel</a>
  </form>
</div>

<script>
  $(function() {
    $("input[type=file]").change(function (){
      var $this = $(this);
      if ($this.val().length > 0) {
        var $thisImg = $this.siblings('div').find('img');
        $thisImg.attr('src', $thisImg.attr('src').replace("Default", "Custom") );
        var newVal = $this.val();
        // remove path stuff in Chrome (e.g. C:\fakepath\test.png)
        if (newVal.indexOf('/') != -1) newVal = newVal.substr( (newVal.lastIndexOf('/')+1) );
        if (newVal.indexOf('\\') != -1) newVal = newVal.substr( (newVal.lastIndexOf('\\')+1) );
        $( "#"+ $this.attr('id') +"status" ).find("span").html(newVal +" (<em>ready to be uploaded</em>)").show()
      }
    }).hover(
      function(){
        $(this).siblings("input").addClass("hover");
      },
      function(){
        $(this).siblings("input").removeClass("hover");
      }
    );
  });
</script>


















